<footer>
    <div class="container pt-5 pb-5">
        <h1 class="text-center pb-4">Spending Tracker</h1>
        <div class="row text-center">
            <div class="col-sm-4">
                <p><a href="/profile/transactions">Transactions</a></p>
                <p><a href="/profile/spending">Spending</a></p>
            </div>
            <div class="col-sm-4">
                <p><a href="/profile/categories">Expense Categories</a></p>
                <p><a href="/profile/graph">Expense Graph</a></p>
            </div>
            <div class="col-sm-4">
                <p><a href="/profile/allIncome/add">Add Income</a></p>
                <p><a href="/profile/transactions/add">Add Expense</a></p>
            </div>
        </div>
        <p class="text-center pt-3">developer : <a href="https://www.linkedin.com/in/bhavaypuri/">bhavay puri</a></p>
    </div>
    </footer>