<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
    <%- include partials/navbar.ejs %>
    <div class="loader"></div>
    <div class="container text-center pt-5 mt-5 mb-5 graph">
        <canvas id="myChart"></canvas>
    </div>
    <%- include partials/footer.ejs %>
    <script>
    axios.get('/profile/expenseCategoryCount')
    .then(response => {
        document.querySelector('.loader').style.display='none';
        let backgroundColor=[];
        for(let i=0;i<response.data.labels.length;i++) {
            backgroundColor.push(`rgb(${Math.floor(Math.random() * 255)},${Math.floor(Math.random() * 255)},${Math.floor(Math.random() * 255)})`);
        }
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: response.data.labels,
            datasets: [{
                label: "My First dataset",
                backgroundColor: backgroundColor,
                borderColor: 'black',
                data: response.data.costs,
            }]
        },
        options: {
            tooltips: {
                callbacks: {
                    label: function(tooltipItem,data) {
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var total = dataset.data.reduce((total,current) => total+current,0)
                        var currentValue = dataset.data[tooltipItem.index];
                        var percentage = Math.round(((currentValue/total) * 100)*100)/100;
                        return data.labels[tooltipItem.index]+percentage + "%";
                    }
                }
            }
        }
    });
    })
    </script>
</body>
</html>